# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
podcast.mp3
frontend/public/episodes/
frontend/public/feed.xml
frontend/public/episodes_meta.json
