# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
backend/.env
*.env
venv/
ENV/
env.bak/
venv.bak/

# Project specifics - only ignore temp local test files
podcast.mp3
